{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
  <div class="jumbotron jumbotron-fluid" style="height:10vh; >
    <div class="container">
       Personal cabinet of <h4 class="display-5"> <b>{{ user.name }} {{ user.surname }}</b></h4>
    </div>


    email: <b>{{ user.email }}</b><br>
    phone: <b>{{ user.phone }}</b><br>
    is active account: <b>{{ user.is_active }}</b><br>
    date of joining: <b>{{ user.date_joined }}</b><br>
    last login: <b>{{ user.last_login }}</b><br>

    <a href="{% url 'core:my_lots_list' %}" class="btn btn-danger mt-3">My lots</a>
    <a href="{% url 'core:my_auctions_list' %}" class="btn btn-danger mt-3">My auctions</a>


<hr>
</div>


{% else %}
    <a class="nav-link" href="{% url 'users:login' %}">Login</a>
{% endif %}


{% endblock content %}