<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:index' %}">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:auctions_list' %}">All auctions</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:my_auctions_list' %}">My auctions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:my_lots_list' %}">My lots</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:new_lot' %}">Add lot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:new_auction' %}">Add auction</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"  href="{% url 'users:logout' %}">Exit</a>
            </li>

        {% else %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'users:register' %}">Registration</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'users:login' %}">Login</a>
            </li>
        {% endif %}
      </ul>
      <form action="{% url 'core:index' %}">
        <input name="search" type="text" placeholder="Find lots"  required>
        <button type="submit">Search</button>
      </form>
    </div>
  </nav>
  <p align="right">
  {% if user.is_authenticated %}
        logged in as {{ user.get_full_name }}
  {% endif %}
  </p>
</header>