{% load static %}

<div class="container">
  <div class="row">
    {% for lots in lots_list %}
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
        {% if lot.image %}
          <a href="{{ product.get_absolute_url }}"><img class="card-img" height="300" src="{{ product.image.url }}" alt="Vans"></a>
        {% else %}
          <a href="{{ product.get_absolute_url }}"><img class="card-img" height="300" src="{% static 'img/no_img.png' %}" alt="Vans"></a>
        {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{ lot.name }}</h4>
            <h6 class="card-subtitle mb-2 text-muted"><a href="#">{{ lot.name }}</a></h6>
            <p class="card-text">{{ lot.category_id }}</p>
            <a href="#" class="btn btn-danger mt-3">Create a lot</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>